<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Anime Genius</h1>
    <p class="lead">Search for Anime or Manga</p>
    <input ng-model="searchBar"></input></div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <div class="col-md-4" ng-repeat="media in medias | filter:searchBar" ><a href="#" tooltip="{{thing.info}}"><img ng-src="{{media.image}}"/>{{media.title}}</a> </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
